.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Courier;
  background-color: #215cff;
  color: black;
}

.data {
  padding: 20px;
}

.tagline {
  line-height: 1;
  font-size: 1.25rem;
  color: white;
}

.loading {
  padding: 20px;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.card {
  background-color: #edf2fc;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.3s;
  margin: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.formcontainer {
  padding: 20px 20px;
}

.form {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.label {
  grid-column: 1/2;
  margin: 10px;
  font-size: 1.5rem;
}

.label:hover {
  text-decoration: underline;
}

.input, .button {
  grid-column: 2 / 3;
  width: 250px;
  margin: 10px;
}

.intro {
  text-align: center;
  margin: 50px;
}

.address {
  width: 400px;
  margin: 10px;
}

.header {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid #eaeaea;
  background-color: #edf2fc;
  color: black;
}

.footer {
  justify-content: center;
  display: flex;
  padding: 1.2rem 0;
  border-top: 1px solid black;
  background-color: #edf2fc;
  color: white;
}

.title {
  align-items: center;
  font-size: 3rem;
  margin-bottom: 0;
  color: white;
  margin: 3%;
}

.description {
  line-height: 1;
  font-size: 1.25rem;
  color: black;
  padding: 20px;
}

.buttonDiv {
  display: grid;
  justify-content: center;
}

.button {
  grid-column: 1/1;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  margin: 3%;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .label {
    grid-column: 1/1;
    margin: 10px;
  }

  .input, .button {
    width: 250px;
    margin: 10px;
  }
}

@media (max-width: 550px) {
  .main {
    width: 100%;
  }
  .form {
    grid-template-columns: 100px 1fr;
  }
  .address {
    width: 100%;
  }
}
