.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Monaca, monospace;
  background-color: #ccddff;
  color: black;
}

.form {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.label {
  grid-column: 1/2;
  margin: 4px;
}

.input, .button {
  grid-column: 2 /3;
  width: 250px;
  margin: 4px;
}

.address {
  width: 400px;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  background-color: #6699ff;
  color: black;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.buttonDiv {
  display: grid;
  justify-content: center;
}

.submit {
  grid-column: 1/1;
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  margin: 3%;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
